<mat-sidenav-container class="root" *ngIf="true">
  <mat-sidenav #sidenav mode="over" class="sidebar-container">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="background-gradient">
      <button mat-icon-button (click)="sidenav.toggle(); opened = !opened" class="example-icon"
              aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="title">Notes</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
