<div>
  <mat-sidenav-container class="example-container" *ngIf="true">
  </mat-sidenav-container>
  <mat-toolbar class="gradient young-passion">
    <div class="sidebar-container" (click)="sidenav.toggle()" *ngIf="opened">
      <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        Sidenav content
      </mat-sidenav>
    </div>
    <button mat-icon-button (click)="sidenav.toggle(); opened = !opened" class="example-icon"
            aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">Notes</span>
  </mat-toolbar>
</div>
