<div class="background-gradient heading">Filter</div>
<div class="filter">
    <span class="material-icons">
    done
  </span>
  Show All
</div>
<div class="filter blue">
    <span class="material-icons">
      done
    </span>
  Select
</div>
<div class="filter indigo">
    <span class="material-icons">
      done
    </span>
  Select
</div>
<div class="filter red">
    <span class="material-icons">
      done
    </span>
  Select
</div>
<div class="filter green">
    <span class="material-icons">
      done
    </span>
  Select
</div>
<div class="filter yellow">
    <span class="material-icons">
      done
    </span>
  Select
</div>
<div class="filter cyan">
    <span class="material-icons">
      done
    </span>
  Select
</div>
